<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="ui medium  header">YelpCamp</div>
            <div class="ui vertical menu">
                <a href="https://www.google.com" class="item">
                    Visit Google
                </a>
                <div class=" active link item">
                    Javascript Link
                </div>
                <div class="link item">
                    Javascript Link
                </div>
                <div class=" link item">
                    Javascript Link
                </div>
                <div id="map"></div>
            </div>
        </div>

        <div class="col-md-9">


            <div class="card">
                <img src="<%= foundCampground.image %>" alt="" class="card-img-top">
                <div class="caption-full ">

                </div>
                <div class="card-body">
                    <a href=""><h1 class="card-title" style="display: inline"> <%= foundCampground.name %></h1></a>
                    <h4 style="display: inline; float:right;" class="m-0">$<%=foundCampground.price%>/night</h4>
                    <p class="card-text"><%= foundCampground.description %></p>
                    <p class="card-text"><em>Author: <%= foundCampground.author.username %></em></p>
                    <a class="btn btn-success" href="/campgrounds/<%= foundCampground._id %>/comments/new"> Leave a
                        review!</a>

                    <% if(currentUser && foundCampground.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/campgrounds/<%= foundCampground._id %>/edit"> Edit</a>
                        <form class="delete-form" style="display: inline" action="/campgrounds/<%= foundCampground._id %>?_method=DELETE"
                              method="POST">
                            <button class="btn btn-danger">Delete the post!</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <a href="/campgrounds">View existing backgrounds</a>

            <div class="card-footer text-muted">
                <div class="ui comments">
                    <% foundCampground.comments.forEach(function (comment) { %>

                        <div class="comment">
                            <a class="avatar">
                                <img src="/images/avatar/small/stevie.jpg">
                            </a>
                            <div class="content">
                                <a class="author"> <strong><%= comment.author.username %></strong> </a>
                                <div class="metadata">
                                    <div class="date">2 days ago</div>
                                    <div class="rating">
                                        <i class="star icon"></i>
                                        5 Faves
                                    </div>

                                    <%if(currentUser&&comment.author.id.equals(currentUser._id)){%>
                                    <a class="btn btn-warning"
                                       href="/campgrounds/<%= foundCampground._id %>/comments/<%= comment._id %>/edit">
                                        Edit!</a>

                                    <form class="delete-form" action="/campgrounds/<%= foundCampground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                          method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                    <% } %>

                                </div>
                                <div class="text">
                                    <%= comment.text %>
                                </div>
                            </div>
                        </div>

                    <% }) %>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    function initMap() {
        var lat = <%= foundCampground.lat %>;
        var lng = <%= foundCampground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
      <strong><%= foundCampground.name %><br />
      <%= foundCampground.location %></strong>
      <p><%= foundCampground.description %></p>
    `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9G6IKl2L7Dp9CNiBAbaoa0zuGNaftYYg&callback=initMap"></script>

<% include ../partials/footer.ejs %>
